<meta charset="utf-8">
<script src="node_modules/nwjs-kremlin/reload.js"></script>
<%= jquery />
<%= angular />

<script src="juke.ls.js"></script>
<script src="tags.ls.js"></script>
<script src="youtube.ls.js"></script>

<link rel="stylesheet" type="text/css" href="juke.css">

<body ng-app="app"
  ng-controller="Ctrl">
  <div><input ng-model="baseUrl" list="recentUrls">
  <button id="reload" ng-click="reload()">Reload</button>
  </div>

  <form name="upload">
    <input id="upload" type="file" multiple>
    <input id="button" type="button" value="Upload" ng-click="startUpload()">
    <span id="percentage"></span><br/>
    <input type="checkbox" name="play">play</input>
  </form>

  <div id="picker">
  <ul>
    <li ng-repeat="artist in tracks | project:['artist', pred]"
      ng-click="select.artist=artist"
      ng-class="{hi: select.artist==artist}">
      {{artist}}
    </li>
    <li ng-click="select.artist=undefined"
      ng-class="{hi: !select.artist}">
      [all]</li>
  </ul>
  <ul>
    <li ng-repeat="album in tracks
      | filter:cu({artist: select.artist})
      | project:['album']"
      ng-click="select.album=album"
      ng-class="{hi: select.album==album}">
      {{album}}
    </li>
    <li ng-click="select.album=undefined"
      ng-class="{hi: !select.album}">
      [all]</li>
  </ul>
  </div>

  <div style="clear: both">
    <span ng-click="stop()">[stop]</span>
    <input type="range"
      min="0" max="9999"
      ng-attr-max="{{maxVolume}}" ng-model="volume">
    <!-- set max to 9999 initially to avoid clipping
      before ng-attr-max kicks in -->
  </div>

  <table style="clear: left">
    <tr ng-repeat="track in tracks
           | filter:cu(select):true as viewed"
        ng-click="play(slice(viewed, $index))">
      <td></td>
      <td>{{track.track | tracknum}}</td>
      <td>{{track.title}}</td>
      <td>{{track._id}}</td>
    </tr>
  </table>

  <datalist id="recentUrls">
    <option value="http://10.0.0.2:2222"></option>
    <option value="http://192.168.1.4:2222"></option>
    <option value="http://localhost:2222"></option>
  </datalist>
</body>
